# FAKE example values so you know what variables you must create when you clones me repo
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SENDER_EMAIL=example@gmail.com
SENDER_PASSWORD=your_app_password_here   #16 character
